
:root{
    --primary:#c148df;
    --secondary:#46a7f8;
    --background:#e6e6e6;
    --darc:#2d2d2d;
    --black:#0000;
}

body{
    font-size: 16px;
    line-height: 1.6;
}
/*navbar */

.nav-link {
    color: white ;
    font-size: 18px;
    font-weight: 600;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--secondary);
}


.section-padding{
    padding-top: 120px;
    padding-bottom: 120px;
}

img{
    /*max-width: 100%;
    height: auto;*/
    
}

 
.bg-dark{
    background-color: var(--black);
}

/*button styles*/

.btn{
    font-weight: 500;
    font-size: 20px;
}

.btn-primary {
    background-color: var(--primary) !important;
}
.btn-primary:hover{
    background-color: rgb(65, 81, 226) !important;
}

.btn-light{
    color: rgb(90, 82, 73);
}


/*bg image*/

#hero{
    background: url(image/home/Sunrise\ over\ one\ of\ Saturns\ moons.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -60px;
}

/*bg text h1*/

.herotext{
    font-size: 90px;
    font-weight: 600;
}

/*about section*/
.paddin-section{
    margin: 120px;
    margin-top: 220px;

}
.about-p{
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 250px !important;
}

/*icons*/

.sideimage{
    width: 75%;
    height: 75%;
    border-radius: 18px;
}
.iconbox{
    color: #c148df;
    font-size: 60px;

}

.icon-p h1{
    color: #979191;
}



/* Default state: Invisible before scrolling */



.animated {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.4s ease-out, transform 0.8s ease-out;
}

/* When in view, add this class */
.animated.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Different animations */

.slide-right {
    transform: translateX(50px);
}


/* Visible state for animations */

.slide-right.visible {
    transform: translateX(0);
}




/* Initial state - Hidden & moved */
.slide-left, .slide-right {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Image moves from left to right */
.slide-left {
    transform: translateX(-100px);
}

/* Text moves from right to left */
.slide-right {
    transform: translateX(100px);
}

/* When visible, apply animation */
.slide-left.visible {
    opacity: 1;
    transform: translateX(0);
}

.slide-right.visible {
    opacity: 1;
    transform: translateX(0);
}

